body {
    margin: 0;
}

.columns {
    display: flex;
}

.main-content {
    max-width: 65%;
    margin-right: 48px;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.title {
    margin-top: 0;
    padding: 16px 0;
    color: #FFF;
    background-color: #281B2D;
    font-size: 72px;
    text-align: center;
}

.sidebar {
    max-width: 35%;
    padding: 20px;
    background-color: #9AE84F;
}

.sub-heading {
    margin-top: 0;
    padding: 20px;
    border-bottom: 6px solid #00C58C;
    background-color: #281B2D;
    font-size: 48px;
    color: #FCD801;
}

.sub-head-highlight {
    color: #FFF;
}

.image-container {
    margin-right: 5%;
}

.image {
    max-width: 300px;
}

.link:hover {
    color: #9138B7
}

.info-source {
    font-size: 12px;
}